@import '../../../styles/variables';

.app-container {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &.dark-mode{
    background-color: $background-color-dark;
  }
  
}