@import '../../../styles/variables';

.login-container{
    background-color: $white;
    border-radius: $border-radius;
    padding: 20px;

    @media(max-width: $media-s) {
        width: 95%;
        padding: 10px;
    }

    &.dark-mode{
        background-color: $black-surface-e;
    }

    h1{
        font-size: 1.50rem;
        text-align: center;
    }

    p{
        font-size: 1.25rem;
        padding-left: 10px;
    }
}