@import '../../../styles/variables';
.modal-password-recover{
    width: 600px;
    
    @media(max-width: $media-s) {
        width: 90%;
    }

    .p-dialog-content{
        padding: 2rem;
        
        .text_modal_password_recover{
            text-align:  center;
            padding: 1rem;
        }
    }
}