
//colors
$background-color: #D3D6DF;
$background-color-dark: #20262e;

$white : #ffffff;
$black-surface-e: #2a323d;
$black-333: #333333;
$black-lite:#495057;
$black-3f4: #3f4b5b;


$surface-d: #dee2e6;

//medias
$container-width: 1200px;
$media-sx: 360px;
$media-s: 768px;
$media-m: 1024px;
$media-l: 1336px;

//transitions
$transition-background-color: background-color 0.3s ease;

//radius3
$border-radius: 8px